# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log

# Dataset (IMPORTANT: avoid pushing large audio files)
dataset/

*.wav

# Model files (you will generate these later)
*.pkl
*.h5
*.joblib

# Temporary files
*.tmp
*.bak

# Linux
*~